# IDE
.mypy_cache
.pytest_cache

# python
*.pyc

# credentials
.env
*.pem
service-account.json

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Lambda deployment
deployment-package.zip
package/

# exclude everything
resources/*
!resources/.gitkeep 

reports/*
.coverage
*.rdb
.vscode/launch.json
*.log
