[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python -m daily_word_bot"
tests = "pytest tests --cov-report html:reports/coverage --cov=daily_word_bot/ --cov-fail-under=99 --junitxml=reports/tests/report.xml --flake8 ./ --cache-clear "

[packages]
python-telegram-bot = "*"
redis = "*"
oauth2client = "*"
gspread = "*"
pandas = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
fakeredis = "*"

[requires]
python_version = "3.8"
